go 1.19

use (
	./constant
	./core/auth
	./core/cache/bigcache
	./core/cache/redis
	./core/common
	./core/config
	./core/database/mysql
	./core/database/oracle
	./core/logger
	./plugins/logger/logrus
	./plugins/logger/zap
	./utils
)
