go 1.19

use (
	./constant
	./core/auth
	./core/cache/bigcache
	./core/cache/redis
	./core/common
	./core/config
	./core/database/mysql
	./core/database/oracle
	./core/logger
	./core/logger/plugins/logrus
	./core/logger/plugins/zap
	./utils
)
